{% extends "base.html" %}

{% block content %}

    <div class="row mt-4">
        <div class="col">
            <h2>Add Item</h2>
            <form action="add_todo/" method="POST" class="form-inline">
                <input type="text" class="form-control mb-2" name="content" id="inlineFormInput" placeholder="Jane Doe">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
             </form>      
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <ul class="list-group">
                {% for todo_item in todo_items %}
                    {% if todo_item.text != "" %}
                    <form action="delete_todo/{{todo_item.id}}/" method="POST">
                        <li class="list-group-item">{{todo_item.text}}
                            <div class="float-right">
                                <button type="submit" class="btn-small btn-danger ">Submit</button>
                            </div>
                        </li>
                    </form>
                    {% endif %}
                {% endfor %}
              </ul>
        </div>
    </div>
{% endblock content %}


